

{% extends 'base.html' %}

{% block main_block %}


<div class="container mt-5">


    <form method="POST">
        {% csrf_token %}



        <table>

            <tr>
                <td>
                    Title
                </td>

                <td>
                    {{ form.title }}
                </td>
                    
            </tr>

            <tr>


            </tr>
                <td>
                    Description
                </td>

                <td>
                    {{ form.description }}
                </td>
                    
            </tr>


            </tr>
                <td>
                    Due_date
                </td>

                <td>
                    {{ form.due_date }}
                    
                </td>
                    
            </tr>



            <tr>
                <td>
                    Category
                </td>

                <td>
                    {{ form.category }}
                </td>
                    
            </tr>


        

            <tr>
                <td>
                    User
                </td>

                <td>
                    {{ form.user }}
                </td>
                    
            </tr>

        </table>
        <input type="submit" class="btn btn-success" value="Submit">
        
    </form>
</div>
    {% endblock %}
    
